

	/* FONT Delicia Melted */
	@font-face {
        font-family: 'Delicia Melted';
        font-style: normal;
        font-weight: 200;
        src: local('Delicia Melted'), local('Delicia-Melted'), 
        url('fonts/Delicia-Melted.woff2') format('woff2'),
        url('fonts/Delicia-Melted.eot') format('eot'),
        url('fonts/Delicia-Melted.svg') format('svg');
      }
  
      /* FONT Avenir Roman */
      @font-face {
        font-family: 'Avenir Roman';
        font-style: normal;
        font-weight: 300;
        src: local('Avenir Roman'), local('Avenir-Roman'), 
        url('fonts/Avenir-Roman.woff2') format('woff2'),
        url('fonts/Avenir-Roman.eot') format('eot'),
        url('fonts/Avenir-Roman.svg') format('svg');
      }
  
      /* FONT Avenir Book */
      @font-face {
        font-family: 'Avenir Book';
        font-style: normal;
        font-weight: 200;
        src: local('Avenir Book'), local('Avenir-Book'), 
        url('fonts/Avenir-Book.woff2') format('woff2'),
        url('fonts/Avenir-Book.eot') format('eot'),
        url('fonts/Avenir-Book.svg') format('svg');
      }
  
      /* FONT Avenir BOLD */
      @font-face {
        font-family: 'Avenir Bold';
        font-style: normal;
        font-weight: 600;
        src: local('Avenir Bold'), local('Avenir-Bold'), 
        url('fonts/AvenirNextLTPro-Bold.woff') format('woff'),
        url('fonts/AvenirNextLTPro-Bold.eot') format('eot'),
        url('fonts/AvenirNextLTPro-Bold.svg') format('svg');
      }
  
      /* Lora Regular */
      @font-face {
        font-family: 'Lora Regular';
        font-style: normal;
        font-weight: 400;
        src: local('Lora Regular'), local('Lora-Regular'), 
        url('fonts/Lora-Regular.woff2') format('woff2'),
      }
  
      /* Lora BOLD */
      @font-face {
        font-family: 'Lora Bold';
        font-style: normal;
        font-weight: 700;
        src: local('Lora Bold'), local('Lora-Bold'), 
        url('fonts/Lora-Bold.woff2') format('woff2'),
      }
  /* END FONT OPEN SANS*/
  
  /*GLOBAL RESET*/
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%;  vertical-align:baseline; background:transparent;}        
   article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {  display:block;}ul, ol { list-style:none; }
  blockquote, q { quotes:none; } blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
  ins { background-color:#ff9; color:#000; text-decoration:none; } mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; } del { text-decoration: line-through; } abbr[title], dfn[title] { /*border-bottom:1px dotted;*/ cursor:help; } table { border-collapse:collapse; border-spacing:0; } hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
  ul, ol { /*margin-left: 1.8em;*/ } ol { list-style-type: decimal; }
  nav ul, nav li { margin: 0; }  small { font-size: 85%; } strong, th { font-weight: bold; } td, td img { vertical-align: top; } 
  sub { vertical-align: sub; font-size: smaller; } sup { vertical-align: super; font-size: smaller; }
  pre { padding: 15px; } pre, code { white-space: pre; /* CSS2 */ white-space: pre-wrap; /* CSS 2.1 */ white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ word-wrap: break-word; /* IE */}
  input, select { vertical-align:middle; } .ie6 input { vertical-align: text-bottom; } textarea { overflow: auto; } input[type="radio"] { vertical-align: text-bottom; } input[type="checkbox"] { vertical-align: bottom; } .ie7 input[type="checkbox"] { vertical-align: baseline; }
  label, input[type=button], input[type=submit], button { cursor: pointer; }
  button, input, select, textarea { margin: 0; }
  input:invalid, textarea:invalid {      border-radius: 1px;   -moz-box-shadow: 0px 0px 5px red;  -webkit-box-shadow: 0px 0px 5px red;    box-shadow: 0px 0px 5px red;}
  .ie7 img { -ms-interpolation-mode: bicubic; }
  .ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
  .clearfix:before, .clearfix:after {content: "\0020"; display: block; height: 0; visibility: hidden;  } .clearfix:after { clear: both; } .clearfix { zoom: 1; }
  img {border:0; }
  a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; } a:link , a:hover , a:visited{text-decoration:none;outline: none;  } a:link { -webkit-tap-highlight-color: none; } 
  
  h1, h2, h3, h4, h5, h6 { font-weight:normal;  display:inline; font-size:100%; text-decoration:none;} 
  
  /* ------------------------- GLOBAL STYLE ------------------------------------*/
  html{box-sizing: border-box; }
  *::before,*::after{box-sizing: border-box;}
  body{ font: normal 14px/130% 'Avenir Book', helvetica, arial, sans-serif ; padding: 0; margin: 0 auto; font-weight: 400; color: #000 ; width: 100%; background:#fff; box-sizing: border-box; display: flex;}
  
  .grid{width: 100%; position: relative; display:flex;}
    .grid.w100{width:100%;}

    .header{align-items:center; justify-content: space-between; padding: 20px;}